<header>
    <a href="/"> <h1>GameDB</h1> </a>
    <li> <a href="/games">Games</a> </li>
    <li> <a href="/categories">Categories</a> </li>
    <li> <a href="/developers">Developers</a> </li>
</header>