<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/content.css">
  <title>GameDB 404</title>
</head>
<body>
  <%- include("partials/header") %>
  <h1 style="display: flex; justify-content: center; text-align: center; font-size: 200px; margin-bottom: 100px;"> 404 </h1>
  <h2 style="text-align: center; font-size: 50px;"> Are you lost?</h2>
  <%- include("partials/footer") %>
</body>
</html>