<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Developers</title>
</head>
<body>
  <% developers.forEach((developer) => { %>
    <div>
    <a href="/developers/<%= developer.developer_id %>"> <%= developer.name %> </a>
    </div>
  <% }) %>
</body>
</html>