<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/content.css">
  <title> GameDB </title>
</head>
<body>
  <%- include("partials/header") %>
  <div style="padding: 20px;">
    <h1> Welcome to the GameDB</h1>
  </div>
  <%- include("partials/footer") %>
</body>
</html>