<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> GameDB </title>
</head>
<body>
  <%- include("partials/footer") %>
  <div class="parent_card">
    <div class="card">
      <a href="/categories"> Categories </a>
    </div>
    <div class="card">
      <a href="/games"> Games </a>
    </div>
    <div class="card">
      <a href="/developers"> Developers </a>
    </div>
  </div>
  <%- include("partials/header") %>
</body>
</html>