html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column; 
}



.container 
{
  display: flex;
  padding: 10px 50px;
  gap: 300px;
  padding-bottom: 100px;
}

.item 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inp {
  padding: 30px;
}

form 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button
{
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

input
{
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

a 
{
  text-decoration: none;
  color:chocolate;
  font-size: 20px;
  padding: 10px 0px;
}

h1 
{
  color:rgb(205, 47, 47);
}

footer {
  padding: 20px;
  margin: 0px;
  display: flex;
  background-color:#0d3b18;
  text-align: center;
  justify-content: center;
  font-family:monospace;
  font-size: large;
  align-items: center;
  margin-top: auto;
}

header {
  padding : 10px;
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 10px;
  background-color: #0d3b18;
  display: flex;
  flex-direction: row;
}

header li {
  align-self: center;
  list-style-type: none;
  padding: 10px;
}
header h1 
{
  margin-right: 50px;
}

header a {
  padding: 0;
  margin: 0;
}